<!DOCTYPE html>
<html lang="ja">
<head>

<% var title = "メニュー"; %>
<% var keywords = ""; %>
<% var description = ""; %>
<% include ../parts/_head %>

<!-- Unique Style sheet link -->
<link href="/assets/css/menu.css" rel="stylesheet" media="all">
</head>
<body>

<% include ../parts/_facebook %>

<% include ../parts/_header %>

<div class="wrapper">

<div class="container">

<div id="js-birdArea" class="bird_area">
<span class="chicken_bg"><img src="/assets/images/menu/menu_bg_02.png" alt=""></span>
<span class="chicken"><img src="/assets/images/menu/chicken_img_01.png" alt=""></span>
<span class="comment scene-01"><img src="/assets/images/menu/chicken_comment_01.png" alt="君は食べたか！？"></span>
<span class="comment scene-02"><img src="/assets/images/menu/chicken_comment_02.png" alt="これ以上は野暮だぜ〜"></span>
</div>

<div class="menu_container">

  <div class="link_menu">
    <ul>
      <li><a class="js-smoothscroll" href="#grand"><img class="js-rollover" src="/assets/images/menu/menu_list_btn_01.png" alt="GRAND MENU"></a></li>
      <li><a class="js-smoothscroll" href="#drink"><img class="js-rollover" src="/assets/images/menu/menu_list_btn_02.png" alt="DRINK MENU"></a></li>
    </ul>
  </div>

  <h1 id="grand"><img src="/assets/images/menu/menu_hdg_01.png" alt="GRAND MENU"></h1>
  <h2><img src="/assets/images/menu/menu_hdg_02.png" alt="串焼き 各2本 280円"></h2>

  <div class="menu_list_container">
  <ul>
    <li><img src="/assets/images/menu/menu_list_01_01.png" alt="岩手大地鶏かわ串"></li>
    <li><img src="/assets/images/menu/menu_list_01_02.png" alt="岩手大地鶏ももねぎ間串"></li>
    <li><img src="/assets/images/menu/menu_list_01_03.png" alt="岩手大地鶏むねねぎ間串"></li>
    <li><img src="/assets/images/menu/menu_list_01_04.png" alt="岩手大地鶏ればー串"></li>
    <li><img src="/assets/images/menu/menu_list_01_05.png" alt="岩手大地鶏砂肝串"></li>
    <li><img src="/assets/images/menu/menu_list_01_06.png" alt="岩手大地鶏はつ串"></li>
    <li><img src="/assets/images/menu/menu_list_01_07.png" alt="岩手大地鶏手羽先串"></li>
    <li><img src="/assets/images/menu/menu_list_01_08.png" alt="岩手大地鶏ささみおろしポン酢串"></li>
    <li><img src="/assets/images/menu/menu_list_01_09.png" alt="岩手大地鶏ささみ明太串"></li>
    <li><img src="/assets/images/menu/menu_list_01_10.png" alt="岩手大地鶏ささみペッパーチーズ串"></li>
    <li><img src="/assets/images/menu/menu_list_01_11.png" alt="せせり串"></li>
    <li><img src="/assets/images/menu/menu_list_01_12.png" alt="ぼんじり串"></li>
    <li><img src="/assets/images/menu/menu_list_01_13.png" alt="やげん軟骨串"></li>
    <li><img src="/assets/images/menu/menu_list_01_14.png" alt="塩つくね串"></li>
    <li><img src="/assets/images/menu/menu_list_01_15.png" alt="つくねおろしポン酢串"></li>
    <li><img src="/assets/images/menu/menu_list_01_16.png" alt="つくね月見串"></li>
    <li><img src="/assets/images/menu/menu_list_01_17.png" alt="アボカド串アンチョビガーリックマヨ"></li>
    <li><img src="/assets/images/menu/menu_list_01_18.png" alt="アボカド串たれ"></li>
    <li><img src="/assets/images/menu/menu_list_01_19.png" alt="えりんぎ串"></li>
    <li><img src="/assets/images/menu/menu_list_01_20.png" alt="ねぎ串"></li>
    <li><img src="/assets/images/menu/menu_list_01_21.png" alt="ししとう串"></li>
    <li><img src="/assets/images/menu/menu_list_01_22.png" alt="豚キムチーズ串"></li>
    <li><img src="/assets/images/menu/menu_list_01_23.png" alt="トマト肉巻串"></li>
    <li><img src="/assets/images/menu/menu_list_01_24.png" alt="チーP串"></li>
    <li><img src="/assets/images/menu/menu_list_01_25.png" alt="うずら串"></li>
    <li><img src="/assets/images/menu/menu_list_01_26.png" alt="豚バラ串"></li>
    <li><img src="/assets/images/menu/menu_list_01_27.png" alt="牛ステーキ串(1串)"></li>
  </ul>
  </div>

  <div class="menu_list_container">
  <ul>
    <li class="title"><img src="/assets/images/menu/menu_list_02_01.png" alt="しょっぱな"></li>
    <li><img src="/assets/images/menu/menu_list_02_02.png" alt="やみつき鶏皮チップス 280円"></li>
    <li><img src="/assets/images/menu/menu_list_02_03.png" alt="しびれきゅうり 180円"></li>
    <li><img src="/assets/images/menu/menu_list_02_04.png" alt="どか葱塩冷奴 230円"></li>
    <li><img src="/assets/images/menu/menu_list_02_05.png" alt="肉味噌キャベツ 280円"></li>
    <li><img src="/assets/images/menu/menu_list_02_06.png" alt="たこわさび 280円"></li>
    <li><img src="/assets/images/menu/menu_list_02_07.png" alt="チャンジャ 280円"></li>
    <li><img src="/assets/images/menu/menu_list_02_08.png" alt="梅水晶 280円"></li>
    <li><img src="/assets/images/menu/menu_list_02_09.png" alt="どんぐり 180円"></li>
    <li><img src="/assets/images/menu/menu_list_02_10.png" alt="枝豆 230円"></li>
    <li><img src="/assets/images/menu/menu_list_02_11.png" alt="ホタルイカ畳干し 280円"></li>
    <li><img src="/assets/images/menu/menu_list_02_12.png" alt="ねぎ塩レバー 380円"></li>
    <li><img src="/assets/images/menu/menu_list_02_13.png" alt="よだれ鶏 380円"></li>
  </ul>
  </div>

  <div class="menu_list_container">
  <ul>
    <li class="title"><img src="/assets/images/menu/menu_list_03_01.png" alt="野菜も食べヤサイ"></li>
    <li><img src="/assets/images/menu/menu_list_03_02.png" alt="大根のシャキシャキ梅風味サラダ 380円"></li>
    <li><img src="/assets/images/menu/menu_list_03_03.png" alt="豆腐と蒸し鶏のサラダ 380円"></li>
    <li><img src="/assets/images/menu/menu_list_03_04.png" alt="アボカドと温泉たまごのシーザーサラダ 380円"></li>
    <li><img src="/assets/images/menu/menu_list_03_05.png" alt="パクチーと水菜のサラダ 380円"></li>
    <li><img src="/assets/images/menu/menu_list_03_06.png" alt="冷やしトマト 280円"></li>
    <li><img src="/assets/images/menu/menu_list_03_07.png" alt="自家製ポテトサラダ 280円"></li>
  </ul>
  </div>

  <div class="menu_list_container">
  <ul>
    <li class="title"><img src="/assets/images/menu/menu_list_04_01.png" alt="テンションアゲ揚げ"></li>
    <li><img src="/assets/images/menu/menu_list_04_02.png" alt="岩手大地鶏チキン南蛮 380円"></li>
    <li><img src="/assets/images/menu/menu_list_04_03.png" alt="ポテトフライ 280円"></li>
    <li><img src="/assets/images/menu/menu_list_04_04.png" alt="なんこつ唐揚げ 280円"></li>
    <li><img src="/assets/images/menu/menu_list_04_05.png" alt="岩手大地鶏若鶏むね唐揚げ 380円"></li>
    <li><img src="/assets/images/menu/menu_list_04_06.png" alt="岩手大地鶏砂肝ガーリック揚げ 380円"></li>
    <li><img src="/assets/images/menu/menu_list_04_07.png" alt="夢のいいとこ鶏1本 50円"></li>
  </ul>
  </div>

  <div class="menu_list_container">
  <ul>
    <li class="title"><img src="/assets/images/menu/menu_list_05_01.png" alt="ホットでほっと一息"></li>
    <li><img src="/assets/images/menu/menu_list_05_02.png" alt="やきとり屋のピリ辛炊豆腐 380円"></li>
    <li><img src="/assets/images/menu/menu_list_05_03.png" alt="鶏スープの鶏もち揚げ出し 380円"></li>
  </ul>
  </div>

  <div class="menu_list_container">
  <ul>
    <li class="title"><img src="/assets/images/menu/menu_list_06_01.png" alt="めしあわせ♥"></li>
    <li><img src="/assets/images/menu/menu_list_06_02.png" alt="鶏の蒲焼 ひつまぶし 380円"></li>
    <li><img src="/assets/images/menu/menu_list_06_03.png" alt="濃厚鶏白湯ラーメン 380円"></li>
    <li><img src="/assets/images/menu/menu_list_06_04.png" alt="あっさり鶏ラーメン 380円"></li>
    <li><img src="/assets/images/menu/menu_list_06_05.png" alt="棒焼きおにぎり各1本 180円"></li>
    <li><img src="/assets/images/menu/menu_list_06_06.png" alt="丼めしセット 280円"></li>
    <li><img src="/assets/images/menu/menu_list_06_07.png" alt="鶏雑炊 280円"></li>
    <li><img src="/assets/images/menu/menu_list_06_08.png" alt="特製鶏スープ 80円"></li>
  </ul>
  </div>

  <div class="menu_list_container">
  <ul>
    <li class="title"><img src="/assets/images/menu/menu_list_07_01.png" alt="別腹ってどこ?"></li>
    <li><img src="/assets/images/menu/menu_list_07_02.png" alt="ゆめの街 シャーベット 180円"></li>
    <li><img src="/assets/images/menu/menu_list_07_03.png" alt="ポップオーバーチョコソース 280円"></li>
    <li><img src="/assets/images/menu/menu_list_07_04.png" alt="ポップオーバーストロベリーソース 280円"></li>
    <li><img src="/assets/images/menu/menu_list_07_05.png" alt="カタラーナ 280円"></li>
    <li><img src="/assets/images/menu/menu_list_07_06.png" alt="抹茶わらび餅とアイスぜんざい 280円"></li>
  </ul>
  </div>

  <p class="note">※新宿NSビル店のみ一部価格と内容が異なります</p>

  <div class="menu_list_container" id="drink">
  <ul>
    <li class="title drink"><img src="/assets/images/menu/menu_list_08_01.png" alt="DRINK MENU"></li>
    <li class="title drink"><img src="/assets/images/menu/menu_list_08_02.png" alt="電撃レボン 380円"></li>
  </ul>
  </div>

  <div class="menu_list_container--drink">
    <div><img src="/assets/images/menu/menu_list_drink.png" alt="DRINK MENU"></div>
  </div>

</div>

</div><!-- /.container -->

</div><!-- /.wrapper -->

<% include ../parts/_footer %>

<script src="/assets/js/lib/jquery-2.1.3.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/menu.js"></script>

</body>
</html>
