<!DOCTYPE html>
<html lang="ja">
<head>

<% var title = "メニュー"; %>
<% var keywords = ""; %>
<% var description = ""; %>
<% include ../parts/_head %>

<!-- Unique Style sheet link -->
<link href="/assets/css/menu.css" rel="stylesheet" media="all">
</head>
<body>

<% include ../parts/_header %>

<div class="wrapper">

<div class="container">

<div id="js-birdArea" class="bird_area">
<span class="chicken_bg"><img src="/assets/images/menu/menu_bg_02.png" alt=""></span>
<span class="chicken"><img src="/assets/images/menu/chicken_img_01.png" alt=""></span>
</div>

<div class="menu_container">

  <h1><img src="/assets/images/menu/menu_hdg_01.png" alt="GRAND MENU"></h1>
  <h2><img src="/assets/images/menu/menu_hdg_02.png" alt="串焼き 各2本 280円"></h2>

  <div class="menu_list_container">
  <ul>
    <li><img src="/assets/images/menu/menu_list_01_01.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_02.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_03.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_04.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_05.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_06.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_07.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_08.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_09.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_10.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_11.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_12.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_13.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_14.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_15.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_16.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_17.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_18.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_19.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_20.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_21.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_22.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_23.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_24.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_25.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_26.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_01_27.png" alt=""></li>
  </ul>
  </div>

  <div class="menu_list_container">
  <ul>
    <li class="title"><img src="/assets/images/menu/menu_list_02_01.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_02_02.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_02_03.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_02_04.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_02_05.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_02_06.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_02_07.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_02_08.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_02_09.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_02_10.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_02_11.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_02_12.png" alt=""></li>
  </ul>
  </div>

  <div class="menu_list_container">
  <ul>
    <li class="title"><img src="/assets/images/menu/menu_list_03_01.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_03_02.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_03_03.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_03_04.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_03_05.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_03_06.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_03_07.png" alt=""></li>
  </ul>
  </div>

  <div class="menu_list_container">
  <ul>
    <li class="title"><img src="/assets/images/menu/menu_list_04_01.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_04_02.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_04_03.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_04_04.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_04_05.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_04_06.png" alt=""></li>
  </ul>
  </div>

  <div class="menu_list_container">
  <ul>
    <li class="title"><img src="/assets/images/menu/menu_list_05_01.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_05_02.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_05_03.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_05_04.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_05_05.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_05_06.png" alt=""></li>
  </ul>
  </div>

  <div class="menu_list_container">
  <ul>
    <li class="title"><img src="/assets/images/menu/menu_list_06_01.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_06_02.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_06_03.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_06_04.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_06_05.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_06_06.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_06_07.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_06_08.png" alt=""></li>
  </ul>
  </div>

  <div class="menu_list_container">
  <ul>
    <li class="title"><img src="/assets/images/menu/menu_list_07_01.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_07_02.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_07_03.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_07_04.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_07_05.png" alt=""></li>
    <li><img src="/assets/images/menu/menu_list_07_06.png" alt=""></li>
  </ul>
  </div>

  <p class="note">※新宿NSビル店のみ一部価格と内容が異なります</p>

</div>

</div><!-- /.container -->

</div><!-- /.wrapper -->

<% include ../parts/_footer %>

<script src="/assets/js/lib/jquery-2.1.3.min.js"></script>
<script src="/assets/js/app.js"></script>

</body>
</html>
