.wrapper {
  background: #ffe100;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

.recruit__member {
  padding: 10px;
  margin: 0 20px;
  background: url(../../assets/images/recruit/bg_02.png) center center;
}

.recruit__member ul {
  overflow: hidden;
  margin: 0 auto;
}

.recruit__member ul li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 1%;
}

.recruit__subVisual {
  padding: 20px;
  margin-top: -10px;
  background: #ffe100;
}

.recruit__kyevisual {
  padding: 10px;
  background: url(../../assets/images/recruit/bg_01.png) center center;
  background-size: cover;
}

.recruit__kyevisual h2 {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.recruit__btn {
  margin-top: 30px;
  text-align: center;
  display: block;
  cursor: pointer;
}

.recruit__btn img {
  width: 50%;
}

@media screen and (max-width: 1040px) {
  .container {
    width: 100%;
  }
  .recruit__member ul li {
    height: 50%;
  }
}
