/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 47px;
  width: 47px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 5%;
  z-index: 100;
}

.slick-next {
  right: 5%;
}

#thumb_slider .slick-prev,
#thumb_slider .slick-next {
  position: absolute;
  display: block;
  height: 42px;
  width: 42px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

#thumb_slider .slick-prev:hover, #thumb_slider .slick-prev:focus,
#thumb_slider .slick-next:hover,
#thumb_slider .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

#thumb_slider .slick-prev:hover:before, #thumb_slider .slick-prev:focus:before,
#thumb_slider .slick-next:hover:before,
#thumb_slider .slick-next:focus:before {
  opacity: 1;
}

#thumb_slider .slick-prev.slick-disabled:before,
#thumb_slider .slick-next.slick-disabled:before {
  opacity: 0.25;
}

#thumb_slider .slick-prev:before,
#thumb_slider .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#thumb_slider .slick-prev {
  right: 35% !important;
  left: auto !important;
  z-index: 100;
}

#thumb_slider .slick-next {
  left: 35% !important;
  right: auto !important;
  z-index: 100;
}

#info_slider .slick-prev,
#info_slider .slick-next {
  position: absolute;
  display: block;
  height: 47px;
  width: 145px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: auto;
  bottom: -50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

#info_slider .slick-prev:hover, #info_slider .slick-prev:focus,
#info_slider .slick-next:hover,
#info_slider .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

#info_slider .slick-prev:hover:before, #info_slider .slick-prev:focus:before,
#info_slider .slick-next:hover:before,
#info_slider .slick-next:focus:before {
  opacity: 1;
}

#info_slider .slick-prev.slick-disabled:before,
#info_slider .slick-next.slick-disabled:before {
  opacity: 0.25;
}

#info_slider .slick-prev:before,
#info_slider .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#info_slider .slick-prev {
  left: 15% !important;
  z-index: 100;
}

#info_slider .slick-next {
  right: 15% !important;
  z-index: 100;
}

#instafeed .slick-prev,
#instafeed .slick-next {
  position: absolute;
  display: block;
  height: 47px;
  width: 145px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: auto;
  bottom: -50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

#instafeed .slick-prev:hover, #instafeed .slick-prev:focus,
#instafeed .slick-next:hover,
#instafeed .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

#instafeed .slick-prev:hover:before, #instafeed .slick-prev:focus:before,
#instafeed .slick-next:hover:before,
#instafeed .slick-next:focus:before {
  opacity: 1;
}

#instafeed .slick-prev.slick-disabled:before,
#instafeed .slick-next.slick-disabled:before {
  opacity: 0.25;
}

#instafeed .slick-prev:before,
#instafeed .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#instafeed .slick-prev {
  left: 15% !important;
  z-index: 100;
}

#instafeed .slick-next {
  right: 15% !important;
  z-index: 100;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 0 1px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 24px;
  width: 24px;
  background: url(/assets/images/top/dot_main_off.png) center top no-repeat;
  outline: none;
  padding: 0;
  color: transparent;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button {
  background: url(/assets/images/top/dot_main_on.png) center top no-repeat;
}

.slick-dots li.slick-active button button:before {
  color: black;
  opacity: 0.75;
}

@media screen and (max-width: 768px) {
  /* Arrows */
  .slick-prev,
  .slick-next {
    position: absolute;
    display: block;
    height: 23px;
    width: 23px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
  }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
  }
  .slick-prev:hover:before, .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before {
    opacity: 1;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25;
  }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-prev {
    left: 3%;
    z-index: 100;
  }
  .slick-next {
    right: 3%;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .slick-dots {
    display: none !important;
  }
  #thumb_slider .slick-prev,
  #thumb_slider .slick-next {
    position: absolute;
    display: block;
    height: 21px;
    width: 21px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
  }
  #thumb_slider .slick-prev:hover, #thumb_slider .slick-prev:focus,
  #thumb_slider .slick-next:hover,
  #thumb_slider .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
  }
  #thumb_slider .slick-prev:hover:before, #thumb_slider .slick-prev:focus:before,
  #thumb_slider .slick-next:hover:before,
  #thumb_slider .slick-next:focus:before {
    opacity: 1;
  }
  #thumb_slider .slick-prev.slick-disabled:before,
  #thumb_slider .slick-next.slick-disabled:before {
    opacity: 0.25;
  }
  #thumb_slider .slick-prev:before,
  #thumb_slider .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #thumb_slider .slick-prev {
    right: 3% !important;
    left: auto !important;
    z-index: 100;
  }
  #thumb_slider .slick-next {
    left: 3% !important;
    right: auto !important;
    z-index: 100;
  }
  #info_slider .slick-prev,
  #info_slider .slick-next {
    position: absolute;
    display: block;
    height: 47px;
    width: 145px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: auto;
    bottom: -50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
  }
  #info_slider .slick-prev:hover, #info_slider .slick-prev:focus,
  #info_slider .slick-next:hover,
  #info_slider .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
  }
  #info_slider .slick-prev:hover:before, #info_slider .slick-prev:focus:before,
  #info_slider .slick-next:hover:before,
  #info_slider .slick-next:focus:before {
    opacity: 1;
  }
  #info_slider .slick-prev.slick-disabled:before,
  #info_slider .slick-next.slick-disabled:before {
    opacity: 0.25;
  }
  #info_slider .slick-prev:before,
  #info_slider .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #info_slider .slick-prev {
    left: 15% !important;
    z-index: 100;
    width: 30%;
    bottom: -75%;
  }
  #info_slider .slick-next {
    right: 15% !important;
    z-index: 100;
    width: 30%;
    bottom: -75%;
  }
  #instafeed .slick-prev,
  #instafeed .slick-next {
    position: absolute;
    display: block;
    height: 47px;
    width: 145px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: auto;
    bottom: -50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
  }
  #instafeed .slick-prev:hover, #instafeed .slick-prev:focus,
  #instafeed .slick-next:hover,
  #instafeed .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
  }
  #instafeed .slick-prev:hover:before, #instafeed .slick-prev:focus:before,
  #instafeed .slick-next:hover:before,
  #instafeed .slick-next:focus:before {
    opacity: 1;
  }
  #instafeed .slick-prev.slick-disabled:before,
  #instafeed .slick-next.slick-disabled:before {
    opacity: 0.25;
  }
  #instafeed .slick-prev:before,
  #instafeed .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #instafeed .slick-prev {
    left: 15% !important;
    z-index: 100;
    width: 30%;
    bottom: -75%;
  }
  #instafeed .slick-next {
    right: 15% !important;
    z-index: 100;
    width: 30%;
    bottom: -75%;
  }
}
