@charset "UTF-8";
/*--------------
	reset
--------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------
	common
--------------*/
body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.pc_view {
  display: block !important;
}

.sp_view {
  display: none !important;
}

/*--------------
	header
--------------*/
.sp_navigation {
  display: none;
}

.c_hdr_content {
  background: #F9E920;
}

.c_hdr_content .inner {
  padding: 10px 0;
  width: 1040px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  zoom: 1;
}

.c_hdr_content .logo {
  float: left;
  width: 321px;
}

.c_hdr_content .r_content {
  overflow: hidden;
  zoom: 1;
  padding: 8px 0;
}

.c_hdr_content .r_content .pc_navigation ul {
  float: right;
  padding: 10px 0;
}

.c_hdr_content .r_content .pc_navigation ul li {
  float: left;
  border-right: 1px solid #C9000A;
  color: #C9000A;
  padding: 0 15px;
  text-align: center;
}

.c_hdr_content .r_content .pc_navigation ul li:last-child {
  border: none;
}

.c_hdr_content .r_content .pc_navigation ul li.disabled {
  opacity: 0.2;
}

.c_hdr_content .r_content .pc_navigation ul li img {
  vertical-align: middle;
}

.c_hdr_content .r_content .pc_navigation ul li.link-01 {
  width: 55px;
}

.c_hdr_content .r_content .pc_navigation ul li.link-02 {
  width: 55px;
}

.c_hdr_content .r_content .pc_navigation ul li.link-03 {
  width: 61px;
}

.c_hdr_content .r_content .pc_navigation ul li.link-04 {
  width: 43px;
}

.c_hdr_content .r_content .pc_navigation ul li.link-05 {
  width: 84px;
}

.c_hdr_content .r_content .pc_navigation ul li.link-06 {
  width: 85px;
}

.c_hdr_content .r_content .sns_link ul {
  padding: 5px 0 5px 10px;
  float: right;
}

.c_hdr_content .r_content .sns_link ul li {
  float: left;
  width: 34px;
  padding: 0 5px;
  box-sizing: border-box;
}

/*--------------
	contents
--------------*/
.wrapper {
  border-top: 2px solid #fff;
  background: url(/assets/images/common/c_bg_01.png) center top;
  padding-bottom: 90px;
}

.wrapper.pb0 {
  padding-bottom: 0;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

/*--------------
	footer
--------------*/
.c_ftr_content {
  color: #fff;
}

.c_ftr_content .ftr_wrapper {
  background: #C9000A;
  position: relative;
}

.c_ftr_content .ftr_wrapper .pagetop {
  display: block;
  width: 75px;
  position: absolute;
  top: -183px;
  right: 0px;
}

.c_ftr_content .ftr_wrapper .fb_iframe_widget {
  position: absolute;
  top: -40px;
  right: 10%;
}

.c_ftr_content .ftr_wrapper .ftr_inner {
  padding: 28px 0;
  width: 1040px;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
}

.c_ftr_content .ftr_wrapper .ftr_inner .ftr_navigation {
  padding: 10px 0;
  float: left;
}

.c_ftr_content .ftr_wrapper .ftr_inner .ftr_navigation li {
  float: left;
  border-right: 1px solid #fff;
  padding: 0 15px;
}

.c_ftr_content .ftr_wrapper .ftr_inner .ftr_navigation li:last-child {
  border: none;
}

.c_ftr_content .ftr_wrapper .ftr_inner .ftr_navigation li a {
  color: #fff;
}

.c_ftr_content .ftr_wrapper .ftr_inner .ftr_navigation li a:hover {
  color: #F9E920;
  text-decoration: none;
}

.c_ftr_content .ftr_wrapper .ftr_inner .sns_link {
  float: right;
  padding: 5px 0;
}

.c_ftr_content .ftr_wrapper .ftr_inner .sns_link li {
  float: left;
  width: 34px;
  padding: 0 5px;
  box-sizing: border-box;
}

.c_ftr_content .ftr_wrapper .copyright {
  padding: 0 0 25px;
  text-align: center;
}

@media screen and (max-width: 1040px) {
  .c_hdr_content .inner {
    padding: 10px;
    width: 100%;
  }
  .c_hdr_content .logo {
    float: left;
    width: 200px;
  }
  .c_hdr_content .r_content {
    padding: 0;
  }
  .c_hdr_content .r_content .pc_navigation ul {
    padding: 7px 0;
  }
  .c_hdr_content .r_content .pc_navigation ul li {
    padding: 0 2%;
  }
  .c_hdr_content .r_content .sns_link {
    display: none;
  }
  .wrapper {
    padding-bottom: 90px;
  }
  .container {
    width: 100%;
  }
  .c_ftr_content {
    color: #fff;
  }
  .c_ftr_content .ftr_wrapper {
    background: #C9000A;
    position: relative;
  }
  .c_ftr_content .ftr_wrapper .pagetop {
    display: block;
    width: 75px;
    position: absolute;
    top: -183px;
    right: 0px;
  }
  .c_ftr_content .ftr_wrapper .fb_iframe_widget {
    position: absolute;
    top: -40px;
    right: auto;
    left: 20px;
  }
  .c_ftr_content .ftr_wrapper .ftr_inner {
    width: 100%;
    padding: 15px 0;
  }
  .c_ftr_content .ftr_wrapper .ftr_inner .ftr_navigation {
    float: none;
    display: block;
    width: 768px;
    margin: 0 auto 15px;
  }
  .c_ftr_content .ftr_wrapper .ftr_inner .ftr_navigation li {
    padding: 0 9.9px;
  }
  .c_ftr_content .ftr_wrapper .ftr_inner .sns_link {
    float: none;
    width: 102px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .pc_view {
    display: none !important;
  }
  .sp_view {
    display: block !important;
  }
  .c_hdr_content {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .c_hdr_content .logo {
    float: left;
    width: 150px;
  }
  .c_hdr_content .inner {
    padding: 0;
  }
  .c_hdr_content .r_content {
    padding: 0;
    width: 100%;
  }
  .c_hdr_content .r_content .menu-button {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 9px;
    top: 7px;
  }
  .c_hdr_content .r_content .menu-button i {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: #C9000A;
    -webkit-transition: background 0.5s;
            transition: background 0.5s;
    position: relative;
    left: 5px;
    top: 14px;
  }
  .c_hdr_content .r_content .menu-button i:before, .c_hdr_content .r_content .menu-button i:after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: #C9000A;
    position: absolute;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.3s !important;
            transition: all 0.3s !important;
  }
  .c_hdr_content .r_content .menu-button i:before {
    -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
            transform: translateY(8px);
  }
  .c_hdr_content .r_content .menu-button i:after {
    -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .c_hdr_content .r_content.is-open .menu-button i {
    background: #F9E920;
  }
  .c_hdr_content .r_content.is-open .menu-button i:after {
    -webkit-transform: translateY(0px) rotate(-45deg);
        -ms-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
  }
  .c_hdr_content .r_content.is-open .menu-button i:before {
    -webkit-transform: translateY(0px) rotate(45deg);
        -ms-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  .c_hdr_content .r_content .pc_navigation {
    display: none;
  }
  .c_hdr_content .r_content .sns_link {
    display: none;
  }
  .sp_navigation {
    display: none;
  }
  .sp_navigation ul {
    padding: 7px 0;
    float: none;
  }
  .sp_navigation ul li {
    width: 100%;
    border-top: 1px solid #C9000A;
  }
  .sp_navigation ul li a {
    display: block;
    color: #C9000A;
    padding: 15px 2%;
    box-sizing: border-box;
    width: 100%;
  }
  .sp_navigation ul li.disabled {
    padding: 15px 2%;
    box-sizing: border-box;
  }
  .sp_navigation ul li.disabled span {
    color: #C9000A;
    opacity: 0.2;
  }
  .sp_navigation ul li:last-child {
    border-bottom: 1px solid #C9000A;
  }
  .wrapper {
    padding-bottom: 175px;
  }
  .c_ftr_content {
    color: #fff;
  }
  .c_ftr_content .ftr_wrapper {
    background: #C9000A;
    position: relative;
  }
  .c_ftr_content .ftr_wrapper .pagetop {
    display: block;
    width: 60px;
    position: absolute;
    top: -146px;
    right: 0px;
  }
  .c_ftr_content .ftr_wrapper .ftr_inner {
    width: 100%;
    padding: 15px 0;
  }
  .c_ftr_content .ftr_wrapper .ftr_inner .ftr_navigation {
    float: none;
    display: block;
    width: 100%;
    margin: 0 auto 15px;
  }
  .c_ftr_content .ftr_wrapper .ftr_inner .ftr_navigation li {
    float: none;
    padding: 0;
    border: none;
  }
  .c_ftr_content .ftr_wrapper .ftr_inner .ftr_navigation li a {
    display: block;
    padding: 15px 0 15px 10px;
    border-top: 1px solid #fff;
  }
  .c_ftr_content .ftr_wrapper .ftr_inner .ftr_navigation li:last-child a {
    border-bottom: 1px solid #fff;
  }
  .c_ftr_content .ftr_wrapper .ftr_inner .sns_link {
    float: none;
  }
  .c_ftr_content .ftr_wrapper .copyright {
    font-size: 10px;
    padding: 0 0 20px;
  }
}
