<!DOCTYPE html>
<html lang="ja">
<head>

<% var title = "こだわり"; %>
<% var keywords = ""; %>
<% var description = ""; %>
<% include ../parts/_head %>

<!-- Unique Style sheet link -->
<link href="/assets/css/kodawari.css" rel="stylesheet" media="all">
</head>
<body>

<% include ../parts/_header %>

<div class="wrapper">

<div class="container">
	<div class="kodawari__wrap">
		<header class="kodawari__header">
			<h2><img src="../assets/images/kodawari/kodwari_01.png" alt="鶏料理だらけだから、こだわりだらけになる。素材にこだわり、味にこだわる。お客様の満足が、こだわりへの源。やきとり馬鹿のこだわりを感じてください。"></h2>
		</header>
		
		<ul class="kodwari_list01">
			<li><img src="../assets/images/kodawari/kodwari_02.png" alt="素材へのこだわり 美味い焼き鳥を追求して出会った「岩手大地鶏」"></li>
			<li><img src="../assets/images/kodawari/kodwari_03.png" alt="味へのこだわり こだわりの素材の旨味を引き出す味へのこだわり"></li>
			<li><img src="../assets/images/kodawari/kodwari_04.png" alt="料理へのこだわり 鶏の部位全てをお召し上がりいただくために、こだわりぬいたオリジナルメニュー"></li>
		</ul>
		
		<header class="kodawari__header">
			<h3><img src="../assets/images/kodawari/header_01.png" alt="こだわりの鶏"></h3>
		</header>

		<div class="kodawari_box">
			<ul>
				<li><img src="../assets/images/kodawari/kodwari_05.png" alt="岩手大地鶏"></li>
				<li><img src="../assets/images/kodawari/kodwari_05_02.png" alt=""></li>
			</ul>
		</div>

		<div class="kodawari_box">
			<ul>
				<li class="u-ajs__p0"><img class="u-ajs__mgt20" src="../assets/images/kodawari/kodwari_07.png" alt="長坂農場 長坂さん親子"></li>
				<li class="u-ajs__p0"><img src="../assets/images/kodawari/kodwari_06.png" alt="生産者からのお便り"></li>
			</ul>
		</div>

		<hr class="border">

		<header class="kodawari__header">
			<h3><img src="../assets/images/kodawari/header_02.png" alt="こだわりの隠し味"></h3>
		</header>

		<div class="kodawari_box">
			<ul>
				<li><img src="../assets/images/kodawari/kodwari_08.png" alt="御飯物は茶飯でお出ししています。"></li>
				<li><img src="../assets/images/kodawari/kodwari_09.png" alt="奇跡のにんにく醤油の生だれ"></li>
			</ul>
		</div>

		<hr class="border">

		<header class="kodawari__header">
			<h3><img src="../assets/images/kodawari/header_03.png" alt="こだわりの〆"></h3>
		</header>

		<div class="kodawari_box">
			<ul>
				<li><img src="../assets/images/kodawari/kodwari_12.png" alt="濃厚鶏白湯ラーメン"></li>
				<li><img src="../assets/images/kodawari/kodwari_13.png" alt="鶏の蒲焼 ひつまぶし"></li>
			</ul>
		</div>

		<hr class="border">

		<header class="kodawari__header">
			<h3><img src="../assets/images/kodawari/header_04.png" alt="こだわりの逸品"></h3>
		</header>

		<div class="kodawari_box">
			<ul>
				<li><img src="../assets/images/kodawari/kodwari_10.png" alt="夢のいいとこ鶏"></li>
				<li><img src="../assets/images/kodawari/kodwari_11.png" alt="やきセン名物！！冷うまっ手羽唐「夢のいいとこ鶏」1本50円"></li>
			</ul>
		</div>
	</div>

</div><!-- /.container -->
</div><!-- /.wrapper -->

<% include ../parts/_footer %>

<script src="/assets/js/lib/jquery-2.1.3.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/menu.js"></script>

</body>
</html>
