@charset 'UTF-8';

.bird_area{
  background: url(/assets/images/menu/menu_bg_01.png) 131px top repeat-y;
  background-size: 10.6%;
  float: right;
  width: 168px;
  height: 8619px;
  position: relative;

  .chicken_bg{
    display: block;
    position: absolute;
    right: -50px;
    bottom: 15px;
    width: 158px;
  }

  .chicken{
    position: fixed;
    bottom: 400px;
    width: 187px;
    z-index: 100;
  }

  .comment{
    position: fixed;
    bottom: 530px;
    margin-left: -165px;
    width: 188px;
    z-index: 200;
    transition-property: opacity;
    transition-duration: 0.8s;

    &.scene-01{
      opacity: 0;
    }

    &.scene-02{
      opacity: 0;
    }

    &.is-active{
      opacity: 1;
    }
  }
}

.menu_container{
  width: 872px;
  padding-top: 70px;

  .link_menu{
    overflow: hidden;
    zoom: 1;
    padding-left: 15px;
    margin-bottom: 70px;

    li{
      width: 426px;
      float: left;

      &:nth-child(2n){
        float: right;
      }
    }
  }

  h1{
    margin-left: 20px;
    margin-bottom: 40px;
  }

  h2{
    margin-left: 20px;
    margin-bottom: 16px;
  }

  .menu_list_container{
    ul{
      overflow: hidden;
      zoom: 1;

      li{
        float: left;
        width: 199px;
        padding: 0 0 20px 19px;

        &.title{
          width: 416px;

          &.drink{
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .note{
    padding-left: 20px;
    margin: 10px 0 30px;
  }
}

@media screen and ( max-width:1040px) {

.bird_area{
  display: none;
}

.menu_container{
  width: 100%;

  h1{
    margin: 0 20px;
    margin-bottom: 40px;
  }

  h2{
    margin: 0 20px;
    margin-bottom: 16px;
  }

}

}

@media screen and ( max-width:872px) {

.menu_container{

  h1{
    margin: 0 3%;
    margin-bottom: 40px;
  }

  h2{
    margin: 0 3%;
    margin-bottom: 16px;
  }

  .menu_list_container{
    ul{
      li{
        float: left;
        width: 30.1%;
        padding: 0 0 20px 20px;

        &.title{
          width: 63%;
        }
      }
    }
  }

  .menu_list_container--drink{
    padding: 0 10px;
  }
}

}


@media screen and ( max-width:768px) {

.menu_container{
  padding-top: 30px;

  h1{
    margin-bottom: 20px;
  }

  h2{
    margin: 0 3%;
    margin-bottom: 16px;
  }

  .menu_list_container{

    ul{
      li{
        float: left;
        width: 29.3%;
        padding: 0 0 10px 3%;

        &.title{
          width: 61.7%;

          &.drink{
            width: 45.3%;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .note{
    padding-left: 3%;
    font-size: 12px;
  }
}

}
