@charset 'UTF-8';

$bg-color: #ffe100;

.wrapper {
  background: $bg-color;
}

.container {
	width: 1040px;
	margin: 0 auto;
}

.recruit__member {
	padding: 10px;
	margin: 0 20px;
	background: url(../../assets/images/recruit/bg_02.png) center center;

	ul {
		overflow: hidden;
		margin: 0 auto;
		li {
			float: left;
			width: 50%;
			box-sizing: border-box;
			padding: 1%;
		}
	}
}

.recruit__subVisual {
	padding: 20px;
	margin-top: -10px;
	background: $bg-color;
}

.recruit__kyevisual {
	padding: 10px;
	background: url(../../assets/images/recruit/bg_01.png) center center;
	background-size: cover;

  h2{
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}

.recruit__btn {
	margin-top: 30px;
	text-align: center;
	display: block;
	cursor: pointer;
	img {
		width: 50%;
	}
}

@media screen and (max-width: 1040px) {
	.container {
		width: 100%;
	}

	.recruit__member {
		ul {
			li {
				height: 50%;
			}
		}
	}

}
