@charset 'UTF-8';


$base-color: #C9000A;
$hover-color: #F9E920;
$bg-color: #F9E920;

@import "reset";

/*--------------
	common
--------------*/

body{
	font-family: "¥á¥¤¥ê¥ª", Meiryo, "¥Ò¥é¥®¥Î½Ç¥´ Pro W3", "Hiragino Kaku Gothic Pro","£Í£Ó ¥´¥·¥Ã¥¯","MS Gothic",Arial,Helvetica,sans-serif;
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background: $bg-color;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

img{
	width: 100%;
	vertical-align: bottom;
}

.pc_view{
	display: block !important;
}

.sp_view{
	display: none !important;
}


/*--------------
	header
--------------*/
.c_hdr_content{
	padding: 10px 0;
	width: 1040px;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	zoom: 1;

	.logo{
		float: left;
		width: 321px;
	}

	.r_content{
		overflow: hidden;
		zoom: 1;
		padding: 8px 0;

		.pc_navigation{
			ul{
				float: right;
				padding: 10px 0;

				li{
					float: left;
					border-right: 1px solid $base-color;
					color: #C9000A;
					padding: 0 15px;
					text-align: center;

					&:last-child{
						border: none;
					}

					&.disabled{
						opacity: 0.2;
					}

					img{
						vertical-align: middle;
					}

					&.link-01{
						width: 55px;
					}
					&.link-02{
						width: 55px;
					}
					&.link-03{
						width: 61px;
					}
					&.link-04{
						width: 43px;
					}
					&.link-05{
						width: 84px;
					}
					&.link-06{
						width: 85px;
					}
				}
			}
		}

		.sns_link{
			ul{
				padding: 5px 0 5px 10px;
				float: right;

				li{
					float: left;
					width: 34px;
					padding: 0 5px;
					box-sizing: border-box;
				}
			}
		}
	}
}


@media screen and ( max-width:1000px) {
	/*.pc_navigation{
		display: none !important;
	}

	.sp_navigation{
		display: block !important;
	}*/
}

/*--------------
	contents
--------------*/

/*--------------
	footer
--------------*/

.c_ftr_content{
	padding: 90px 0 0;
	color: #fff;

	.ftr_wrapper{
		background: $base-color;
		position: relative;

		.pagetop{
			display: block;
			width: 75px;
			position: absolute;
			top: -183px;
			right: 0px;
		}

		.ftr_inner{
			padding: 28px 0;
			width: 1040px;
			margin: 0 auto;
			overflow: hidden;
			zoom: 1;

			
			.ftr_navigation{
				padding: 10px 0;
				float: left;

				li{
					float: left;
					border-right: 1px solid #fff;
					padding: 0 15px;

					&:last-child{
						border: none;
					}

					a{
						color: #fff;

						&:hover{
							color: $hover-color;
							text-decoration: none;
						}
					}
				}
			}
			.sns_link{
				float: right;
				padding: 5px 0;

				li{
					float: left;
					width: 34px;
					padding: 0 5px;
					box-sizing: border-box;
				}
			}
		}
		.copyright{
			padding: 0 0 25px;
			text-align: center;
		}
	}
}


@media screen and ( max-width:1040px) {

.pc_view{
	display: none !important;
}

.sp_view{
	display: block !important;
}

.c_hdr_content{
	padding: 10px;
	width: 100%;

	.logo{
		float: left;
		width: 200px;
	}

	.r_content{
		padding: 0;

		.pc_navigation{
			ul{
				padding: 7px 0;

				li{
					padding: 0 2%;
				}
			}
		}

		.sns_link{
			display: none;
		}
	}
}


.c_ftr_content{
	padding: 90px 0 0;
	color: #fff;

	.ftr_wrapper{
		background: $base-color;
		position: relative;

		.pagetop{
			display: block;
			width: 75px;
			position: absolute;
			top: -183px;
			right: 0px;
		}

		.ftr_inner{
			width: 100%;
			padding: 15px 0;

			.ftr_navigation{
				float: none;
				display: block;
				width: 768px;
				margin: 0 auto 15px;

				li{
					padding: 0 9.9px;
				}
			}

			.sns_link{
				float: none;
				width: 102px;
				margin: 0 auto;
			}
		}
	}
}




}
