<!DOCTYPE html>
<html lang="ja">
<head>

<% var title = "店舗検索"; %>
<% var keywords = ""; %>
<% var description = ""; %>
<% include ../parts/_head %>

<!-- Unique Style sheet link -->
<link href="/assets/css/search.css" rel="stylesheet" media="all">
</head>
<body>

<% include ../parts/_header %>

<div class="wrapper">

<div class="container">
<div class="cover"><img src="/assets/images/search/search_bg_01.png" alt=""></div>
<h1 class="ttl r_floating"><img src="/assets/images/search/search_ttl_01.png" alt="店舗検索"></h1>
<span class="item-01 floating"><img src="/assets/images/search/search_img_01.png" alt=""></span>
<span class="item-02 floating"><img src="/assets/images/search/search_img_02.png" alt=""></span>
<span class="item-03 floating"><img src="/assets/images/search/search_img_03.png" alt=""></span>
<span class="item-05 floating"><img class="spin_infinite" src="/assets/images/search/search_img_05.png" alt=""></span>
<span class="item-06 floating"><img src="/assets/images/search/search_img_06.png" alt=""></span>
<span class="txt-01"><img src="/assets/images/search/search_txt_01.png" alt="クリックしちゃいな"></span>
<span class="item-07 floating"><img src="/assets/images/search/search_img_07.png" alt=""></span>
<span class="item-08"><a href="#"><img class="js-rollover" src="/assets/images/search/search_btn_01.png" alt="店舗検索"></a></span>
</div><!-- /.container -->

</div><!-- /.wrapper -->

<% include ../parts/_footerSearch %>

<script src="/assets/js/lib/jquery-2.1.3.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/search.js"></script>

</body>
</html>
