<!DOCTYPE html>
<html lang="ja">
<head>

<% var title = "トップページ"; %>
<% var keywords = ""; %>
<% var description = ""; %>
<% include parts/_head %>

<!-- Unique Style sheet link -->
<link href="/assets/css/top.css" rel="stylesheet" media="all">
<link href="/assets/css/slick.css" rel="stylesheet" media="all">
<link href="/assets/css/slick-theme.css" rel="stylesheet" media="all">
</head>
<body>

<% include parts/_header %>

<div class="wrapper">

<div id="main_slider" class="slick-slider">
	<div><img src="/assets/images/top/top_main_01.png" alt=""></div>
	<div><img src="/assets/images/top/top_main_02.png" alt=""></div>
	<div><img src="/assets/images/top/top_main_03.png" alt=""></div>
</div>

<div id="thumb_slider" class="slick-slider" dir="rtl">
	<div><img src="/assets/images/top/top_thumb_01.png" alt=""></div>
	<div><img src="/assets/images/top/top_thumb_02.png" alt=""></div>
	<div><img src="/assets/images/top/top_thumb_03.png" alt=""></div>
	<div><img src="/assets/images/top/top_thumb_04.png" alt=""></div>
	<div><img src="/assets/images/top/top_thumb_05.png" alt=""></div>
</div>


<div class="top-content information">
	<h2 class="hdg"><img src="/assets/images/top/top_hdg_01.png" alt=""></h2>
</div>

<div class="top-content instagram">
	<h2 class="hdg"><img src="/assets/images/top/top_hdg_02.png" alt=""></h2>
	<!-- <div class="slick-slider">
	<div id="instafeed"></div>
	</div> -->
</div>

<div class="top-content facebook">
	<h2 class="hdg"><img src="/assets/images/top/top_hdg_03.png" alt=""></h2>
</div>

</div><!-- /.wrapper -->

<% include parts/_footer %>

<script src="/assets/js/lib/jquery-2.1.3.min.js"></script>
<script src="/assets/js/lib/slick.min.js"></script>
<script src="/assets/js/lib/instafeed.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/top.js"></script>

</body>
</html>
