<!DOCTYPE html>
<html lang="ja">
<head>

<% var title = "トップページ"; %>
<% var keywords = ""; %>
<% var description = ""; %>
<% include parts/_head %>

<!-- Unique Style sheet link -->
<link href="/assets/css/top.css" rel="stylesheet" media="all">
<link href="/assets/css/slick.css" rel="stylesheet" media="all">
<link href="/assets/css/slick-theme.css" rel="stylesheet" media="all">
<link href="/assets/css/colorbox.css" rel="stylesheet" media="all">
</head>
<body>

<% include parts/_facebook %>

<% include parts/_header %>

<div class="wrapper">

<div id="main_slider" class="slick-slider">
	<div><img src="/assets/images/top/top_main_01.png" alt=""></div>
	<div><img src="/assets/images/top/top_main_02.png" alt=""></div>
	<div><img src="/assets/images/top/top_main_03.png" alt=""></div>
</div>

<div id="thumb_slider" class="slick-slider" dir="rtl">
	<div><a href="/menu/"><img src="/assets/images/top/top_thumb_01.png" alt=""></a></div>
	<div><a href="/recruit/"><img src="/assets/images/top/top_thumb_02.png" alt=""></a></div>
	<div><a href="/search/"><img src="/assets/images/top/top_thumb_03.png" alt=""></a></div>
	<div><a href="http://www.colowide.co.jp/gs/reservation/index.php?brand_no=159" target="_blank"><img src="/assets/images/top/top_thumb_04.png" alt=""></a></div>
	<div><a href="/kodawari/"><img src="/assets/images/top/top_thumb_05.png" alt=""></a></div>
</div>


<div class="top-content information">
	<h2 class="hdg"><img src="/assets/images/top/top_hdg_01.png" alt=""></h2>
	<div id="info_slider" class="slick-slider">
    <div class="slide"><img src="/assets/images/top/info_img_01.jpg" alt=""></div>
		<div class="slide"><img src="/assets/images/top/info_img_02.jpg" alt=""></div>
		<div class="slide"><img src="/assets/images/top/info_img_03.jpg" alt=""></div>
		<div class="slide"><img src="/assets/images/top/info_img_02.jpg" alt=""></div>
		<div class="slide"><img src="/assets/images/top/info_img_02.jpg" alt=""></div>
		<div class="slide"><img src="/assets/images/top/info_img_02.jpg" alt=""></div>
		<div class="slide"><img src="/assets/images/top/info_img_03.jpg" alt=""></div>
		<div class="slide"><img src="/assets/images/top/info_img_03.jpg" alt=""></div>
		<div class="slide"><img src="/assets/images/top/info_img_03.jpg" alt=""></div>
	</div>
</div>

<div class="top-content instagram">
	<h2 class="hdg"><img src="/assets/images/top/top_hdg_02.png" alt=""></h2>
  <ul class="slick-slider" id="instafeed">
	</ul>
</div>

<div class="top-content facebook">

    <div class="inner">
    	<h2 class="hdg"><img src="/assets/images/top/top_hdg_03.png" alt=""></h2>

        <div class="fb-container">
            <div class="fb-page" data-href="https://www.facebook.com/yakitoricenter/?fref=ts" data-tabs="timeline" data-width="500" data-height="560" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
        </div>

        <div class="chicken-container">
            <div class="image"><img src="/assets/images/top/top_img_01.png" alt="今すぐチェック〜"></div>
            <div class="btn-to-fb"><a href="https://www.facebook.com/yakitoricenter/?fref=ts" target="_blank"><img class="js-rollover" src="/assets/images/top/top_btn_fb.png" alt="Facebookページへ"></a></div>
        </div>
    </div>
</div>

</div><!-- /.wrapper -->

<% include parts/_footer %>

<script src="/assets/js/lib/jquery-2.1.3.min.js"></script>
<script src="/assets/js/lib/slick.min.js"></script>
<script src="/assets/js/lib/instafeed.min.js"></script>
<script src="/assets/js/lib/jquery.colorbox-min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/top.js"></script>

</body>
</html>
