<!DOCTYPE html>
<html lang="ja">
<head>

<% var title = "スタッフ募集"; %>
<% var keywords = ""; %>
<% var description = ""; %>
<% include ../parts/_head %>

<!-- Unique Style sheet link -->
<link href="/assets/css/recruit.css" rel="stylesheet" media="all">
</head>
<body>

<% include ../parts/_header %>

<div class="wrapper">

<div class="container">
	<div class="recruit__kyevisual">
		<h2><img src="../assets/images/recruit/header_01.png" alt="ワイルドに働こうぜ"></h2>
		<p><img src="../assets/images/recruit/man.png" alt="伝説の串打ちミュータント ARAKING"></p>

	</div>
	<p class="recruit__subVisual"><img src="../assets/images/recruit/rectuit_img_01.png" alt="おれたち鶏仲間"></p>
	<div class="recruit__member">
		<ul>
			<li><img src="../assets/images/recruit/recruit_member_01.png" alt=""></li>
			<li><img src="../assets/images/recruit/recruit_member_02.png" alt=""></li>
			<li><img src="../assets/images/recruit/recruit_member_03.png" alt=""></li>
			<li><img src="../assets/images/recruit/recruit_member_04.png" alt=""></li>
			<li><img src="../assets/images/recruit/recruit_member_05.png" alt=""></li>
			<li><img src="../assets/images/recruit/recruit_member_06.png" alt=""></li>
		</ul>
	</div>

	<a class="recruit__btn" href=""><img src="../assets/images/recruit/recruit_btn.png" alt="詳しくはこちら"></a>

</div><!-- /.container -->
</div><!-- /.wrapper -->

<% include ../parts/_footer %>

<script src="/assets/js/lib/jquery-2.1.3.min.js"></script>
<script src="/assets/js/app.js"></script>

</body>
</html>
