<footer>
<div class="footer-link-list">
	<ul>
		<li><a href="#">お問い合わせ</a></li>
		<li><a href="#">インフォメーション</a></li>
		<li><a href="#">メディア掲載履歴</a></li>
		<li><a href="#">このサイトについて</a></li>
		<li><a href="#">個人情報保護方針</a></li>
		<li><a href="#">サイトマップ</a></li>
	</ul>
	<p>Copyright(C) 2015 COLOWIDE CO.,LTD All Rights Reserved.</p>
</div>
</footer>