<header>

	<div class="logo">
	</div>
	
	<div class="header_left_contents">

		<div class="sns_link">
			<ul>
				<li><img src="https://placeholdit.imgix.net/~text?w=30&h=30" alt=""></li>
				<li><img src="https://placeholdit.imgix.net/~text?w=30&h=30" alt=""></li>
				<li><img src="https://placeholdit.imgix.net/~text?w=30&h=30" alt=""></li>
			</ul>
		</div>

		<nav class="pc_navigation">
			<ul>
				<li><a href="#">こだわり</a></li>
				<li><a href="#">メニュー</a></li>
				<li><a href="#">店舗検索</a></li>
				<li><a href="#">ご予約</a></li>
				<li><a href="#">キャンペーン</a></li>
				<li><a href="#">スタッフ募集</a></li>
			</ul>
		</nav>
	</div><!-- /.header_left_contents -->

	<!-- <div class="sp_menu"><img src="./assets/img/common/sp_menu_btn_isClose.png" alt=""></div>

	<nav class="sp_navigation">
		<ul>
			<li><a href="#">こだわり</a></li>
			<li><a href="#">メニュー</a></li>
			<li><a href="#">店舗検索</a></li>
			<li><a href="#">ご予約</a></li>
			<li><a href="#">キャンペーン</a></li>
			<li><a href="#">スタッフ募集</a></li>
		</ul>
	</nav> -->
</header>