<header class="c_hdr_content">

	<div class="logo">
		<a href="/"><img src="/assets/images/common/c_hdr_logo.png" alt="やきとりセンター"></a>
	</div>
	
	<div class="r_content">

		<div class="sns_link">
			<ul>
				<li class="link-01"><a href="http://www.imgrum.net/place/%E3%82%84%E3%81%8D%E3%81%A8%E3%82%8A%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC/1021845479" target="_blank"><img class="js-rollover" src="/assets/images/common/c_hdr_sns_01.png" alt="Instagram"></a></li>
				<li class="link-02"><a href="https://twitter.com/hashtag/%E3%82%84%E3%81%8D%E3%81%A8%E3%82%8A%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC" target="_blank"><img class="js-rollover" src="/assets/images/common/c_hdr_sns_02.png" alt="Twitter"></a></li>
				<li class="link-03"><a href="https://www.facebook.com/yakitoricenter/" target="_blank"><img class="js-rollover" src="/assets/images/common/c_hdr_sns_03.png" alt="Facebook"></a></li>
			</ul>
		</div>

		<nav class="pc_navigation">
			<ul>
				<li class="link-01"><a href="/particular/"><img class="js-rollover" src="/assets/images/common/c_hdr_nav_01.png" alt="こだわり"></a></li>
				<li class="link-02"><a href="/menu/"><img class="js-rollover" src="/assets/images/common/c_hdr_nav_02.png" alt="メニュー"></a></li>
				<li class="link-03"><a href="/search/"><img class="js-rollover" src="/assets/images/common/c_hdr_nav_03.png" alt="店舗検索"></a></li>
				<li class="link-04"><a href="http://www.colowide.co.jp/gs/reservation/index.php?brand_no=159" target="_blank"><img class="js-rollover" src="/assets/images/common/c_hdr_nav_04.png" alt="ご予約"></a></li>
				<li class="link-05 disabled"><img src="/assets/images/common/c_hdr_nav_05.png" alt="キャンペーン"></li>
				<li class="link-06"><a href="/recruit/"><img class="js-rollover" src="/assets/images/common/c_hdr_nav_06.png" alt="スタッフ募集"></a></li>
			</ul>
		</nav>
	</div><!-- /.header_left_contents -->

	<!-- <div class="sp_menu"><img src="./assets/img/common/sp_menu_btn_isClose.png" alt=""></div>

	<nav class="sp_navigation">
		<ul>
			<li><a href="#">こだわり</a></li>
			<li><a href="#">メニュー</a></li>
			<li><a href="#">店舗検索</a></li>
			<li><a href="#">ご予約</a></li>
			<li><a href="#">キャンペーン</a></li>
			<li><a href="#">スタッフ募集</a></li>
		</ul>
	</nav> -->
</header>