<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title><%= title %></title>
<meta name="keywords" content="<%= keywords %>" />
<meta name="description" content="<%= description %>" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width">
<!--[if lt IE 9]>
<script src="./assets/js/lib/html5shiv.min.js"></script>
<![endif]-->
<!-- Style sheet link -->
<link href="./assets/css/style.css" rel="stylesheet" media="all">